<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codeframetech.jobchaiyoo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".controller.AppController"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />


        <activity
            android:name=".NavigationActivity"
            android:alwaysRetainTaskState="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />


        <activity
            android:name=".detail_activities.JobDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".upload_resume.UploadResume"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TeachingJob"
            android:parentActivityName=".NavigationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EngineeringActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".detail_activities.MeetUps_DetailActivity"
            android:parentActivityName=".NavigationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".detail_activities.Internship_DetailActivity"
            android:parentActivityName=".IT_Company"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BrowserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyCityList"
            android:label="@string/title_activity_my_city_list"
            android:theme="@style/AppTheme" />
        <activity android:name=".upload_resume.GetCVfromClient" />
        <activity android:name=".detail_activities.IT_Companies_DetailActivity" />
        <activity
            android:name=".IT_Company"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait">


        </activity>
        <activity
            android:name=".FacebookActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>